* text=auto
*.sh text eol=lf
packaging/debian/preinst text eol=lf
packaging/debian/postinst text eol=lf
packaging/debian/prerm text eol=lf
packaging/debian/postrm text eol=lf
*.service text eol=lf
*.timer text eol=lf
*.desktop text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
*.aar binary
*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.svg text eol=lf
